
h1{
  color: #f4f4f4;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 800;
  width: 70%;
  margin-top: 300px;
  margin-left: 320px;
}

p{
  color: #f4f4f4;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.5em;
  width: 80%;
  margin-left: 320px;
}
