body{
  background-image: url(Covid_19_Vaccine.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin:auto;
}

img{
  width: 150px;
  height: 110px;
  margin-top: 260px;
  margin-left: 650px;
}

h1{
  color: #f4f4f4;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  width: 70%;
  margin-left: 580px;
}


h2{
  color: #f4f4f4;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  width: 70%;
  margin-left: 440px;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  width: 12%;
  height: 2em;
  margin-left: 590px;
}
