<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name ="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
    <title>CIS422 Project1 Vaccine distribution</title>
</head>
<body>
  <!--  Heading  -->
  <h1>Vaccine Distribution Center!</h1>
  <!-- jump to Register page -->
  <br>
  <br>
  <div class="p1">
    <p>
      This is a Vaccine distribution system that we will
      determine the order of vaccination for <br>each patient
      based on the specific physical condition of the patient！
    </p>
  </div>
  <br>
  <br>
  <div>
    <p>
      <strong>
        <form action = "/" method="POST">
          <button type = "submit" name = "Register_button" value = "Register_button" target="_blank">Register Now </button>
 
          <!--
          <a href="file:///C:/Users/rexqi/OneDrive/Desktop/index/Index2.html" target="_blank">Register Now </a>
          -->
      </strong>
    </p>
  </div>
</body>
</html>
