<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name ="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style3.css')}}">
    <title>Register Successful</title>
  </head>
  <body>
  	<style>
  		body{
        background-image: url(/static/Covid_19_Vaccine.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin:auto;
        }
  	</style>
    <img src="/static/check.png" alt="check">
    <h1> Congratulation</h1>
    <h2>Registration completed Successfully</h2>
  </body>
</html>
