<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Register</title>

</head>

<body>
<h1>Registration Page</h1>
{% block title %}Please Fill Out The Form{% endblock %}

{% block content %}
<form action ="#" method="post">
	<p>First Name:</p>
	  <!-- This is where the the feilds will be put -->
	<p><input type="text" name="First_Name" /></p>
	<p>Last Name:</p>
	<p><input type="text" name="Last_Name" /></p>
	<p>Email:</p>
	<p><input type="text" name="Email" /></p>
	<p>Phone Number:</p>
	<p><input type="text" name="Phone" /></p>
	<p>OTHER:</p>
	<p><input type="text" name="OTHER" /></p>

	<!-- This is where the the feilds (CHECKMARKS) will be put -->
	<p>Some Kind of checkbox question</p>
	Checkbox 1 <input type="checkbox" value = 1 name = "Checkboxes">
	Checkbox 2 <input type="checkbox" value = 2 name = "Checkboxes">
	Checkbox 3 <input type="checkbox" value = 3 name = "Checkboxes">

	<!-- RADIOS are simular but only one may be checked.  -->
	<p>Some Kind of Radio (can select only one) question</p>
	Radio 1<input type="radio" value = 1 name = "Radios">
	Radio 2<input type="radio" value = 2 name = "Radios">
	Radio 3<input type="radio" value = 3 name = "Radios">
	<p>Example 2 Favorite color?</p>
	
	Red<input type="radio" value = 1 id = Red name = "Color">
	Blue<input type="radio" value = 2 id = Blue name = "Color">


	<!-- SUBMIT BUTTON -->
	<p><input type="submit" value="submit" /></p>
	
</form>



{% endblock %}

</body>
</html>



